/*------------------------------------*\
  RESET
\*------------------------------------*/
/* line 4, ../sass/default.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../sass/default.scss */
body, div, section, article, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea,
p, blockquote, th, td, figure {
  margin: 0;
  padding: 0;
}

/* line 13, ../sass/default.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 17, ../sass/default.scss */
fieldset, img {
  border: 0;
}

/* line 20, ../sass/default.scss */
address, caption, cite, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 24, ../sass/default.scss */
caption, th {
  text-align: left;
}

/* line 27, ../sass/default.scss */
h1, h2, h3 {
  font-size: 100%;
  font-weight: 500;
}

/* line 32, ../sass/default.scss */
h4, h5, h6 {
  font-size: 100%;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 38, ../sass/default.scss */
.node-type-gallery h4,
.node-type-video h4 {
  font-weight: 200;
}

/* line 43, ../sass/default.scss */
q:before, q:after {
  content: '';
}

/* line 46, ../sass/default.scss */
abbr, acronym {
  border: 0;
}

/* line 50, ../sass/default.scss */
img {
  width: 100%;
  line-height: 1;
  display: block;
}

/* line 52, ../sass/default.scss */
a {
  text-decoration: none;
}

/* line 62, ../sass/default.scss */
#skip a:link, #skip a:hover, #skip a:visited {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* line 70, ../sass/default.scss */
#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/* line 77, ../sass/default.scss */
div.view div.views-admin-links {
  width: auto;
}

/* line 82, ../sass/default.scss */
div.block {
  position: relative;
}
/* line 85, ../sass/default.scss */
div.block .edit {
  display: none;
  position: absolute;
  right: -20px;
  top: -5px;
  z-index: 40;
  padding: 3px 8px 0;
  font-size: 10px;
  line-height: 16px;
  background-color: white;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: -1px 1px 2px #666666;
}
/* line 101, ../sass/default.scss */
div.block a {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 107, ../sass/default.scss */
div.block:hover .edit {
  display: block;
}

/* line 113, ../sass/default.scss */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 120, ../sass/default.scss */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

/* line 125, ../sass/default.scss */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

/* line 130, ../sass/default.scss */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* line 138, ../sass/default.scss */
input::-webkit-input-placeholder {
  color: #ccc;
}

/* line 141, ../sass/default.scss */
input:focus::-webkit-input-placeholder {
  color: #efefef;
}

/* Firefox < 19 */
/* line 146, ../sass/default.scss */
input:-moz-placeholder {
  color: #ccc;
}

/* line 149, ../sass/default.scss */
input:focus:-moz-placeholder {
  color: #efefef;
}

/* Firefox > 19 */
/* line 154, ../sass/default.scss */
input::-moz-placeholder {
  color: #ccc;
}

/* line 157, ../sass/default.scss */
input:focus::-moz-placeholder {
  color: #efefef;
}

/* Internet Explorer 10 */
/* line 162, ../sass/default.scss */
input:-ms-input-placeholder {
  color: #ccc;
}

/* line 165, ../sass/default.scss */
input:focus:-ms-input-placeholder {
  color: #efefef;
}

/* line 171, ../sass/default.scss */
.browsehappy {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 7 */
  filter: alpha(opacity=80);
}
/* line 184, ../sass/default.scss */
.browsehappy div {
  width: 50%;
  margin: 200px auto 0;
  padding: 56px;
  background-color: #fff;
}
/* line 191, ../sass/default.scss */
.browsehappy strong {
  display: block;
  font-size: 24px;
  margin-bottom: 28px;
}
/* line 198, ../sass/default.scss */
.browsehappy a {
  text-decoration: underline;
}
/* line 199, ../sass/default.scss */
.browsehappy a:hover {
  text-decoration: none;
}
