// Config
// ---------
// Import helpers
@import "compass";
@import "susy";
@import "breakpoint";

// Import local files




$susy: (
container: auto,
columns: 12,
gutters: 30/72,
math: fluid,
output: float,
gutter-position: after,
global-box-sizing: border-box,

  debug: (
    image: hide,
    color: salmon,
    output: background,
  ),
);




$base-line-height: 14px;






